body{
    background-color: pink;
}
li {
    display: inline-block;       
    text-decoration: none;
    color: red;
    padding: 20px;
    font-size: 200%;
    
 }

 div {
    height: 80%;
    width: 80%;
    background: linear-gradient(0deg, #332c5f, #bac1f5);
 }